In [2]:
import requests
import pandas as pd
import json
import base64
import os
from datetime import datetime

# El resto del c√≥digo se mantiene igual
# Configuraci√≥n de VALD
CLIENT_ID = "Nr37673W7ncT4qBQ=="
CLIENT_SECRET = "EMiYKddb7wKrwgxxLqopECDpkNLiS1XOEaw="
# TENANT_ID = "f1185650-fb79-44a0-8b4b-b2bf82d28c83"
FECHA_DESDE = "2023-01-01T00:00:00.000Z"

In [3]:
token = ''
# URL para solicitar el token
token_url = "https://security.valdperformance.com/connect/token"

# Datos para la solicitud del token
payload = {
    "grant_type": "client_credentials",
    "client_id": CLIENT_ID,
    "client_secret": CLIENT_SECRET
}

try:
    # Realizar la solicitud
    response = requests.post(token_url, data=payload)
    
    # Verificar respuesta
    if response.status_code == 200:
        token_data = response.json()
        print(token_data)
        print("‚úÖ Autenticaci√≥n exitosa")
        token = token_data.get('access_token')
    else:
        print(f"‚ùå Error en la autenticaci√≥n: {response.status_code}")
        print(response.text)
        
        
except Exception as e:
    print(f"‚ùå Error inesperado: {str(e)}")

{'access_token': 'eyJhbGciOiJSUzI1NiIsImtpZCI6IkQ5QTM3MUY2NDBGM0JBQUQ2NDdBRjg5RTc3RDJDMzhBOERFOUQ5MjFSUzI1NiIsIng1dCI6IjJhTng5a0R6dXExa2V2aWVkOUxEaW8zcDJTRSIsInR5cCI6ImF0K2p3dCJ9.eyJpc3MiOiJodHRwczovL3NlY3VyaXR5LnZhbGRwZXJmb3JtYW5jZS5jb20iLCJuYmYiOjE3NDkxMzQzODcsImlhdCI6MTc0OTEzNDM4NywiZXhwIjoxNzQ5MTQxNTg3LCJhdWQiOlsiYXBpLmR5bmFtbyIsImFwaS5leHRlcm5hbCJdLCJzY29wZSI6WyJhcGkuZHluYW1vIiwiYXBpLmV4dGVybmFsIl0sImNsaWVudF9pZCI6Ik5yMzc2NzNXN25jVDRxQlE9PSIsImp0aSI6IjAzMkI4NDZFNUFDNEY5ODUwRTM1QjZBMTg2ODk1QzRBIn0.UAZi94_xHhq9SePYVdacaOn9bXgaXhlW96DegwT63mpjIQbubkzJAkjSDprFfdwdnITmKeyA34B_T0B1ZjAPhSJZGizykL50b9ysMezNX5cfXWlkhD8jo0r-k0tz5VolNzHdEkrzBbFfEY1JfMhfxa6-ybMJAaT2LJTuuUgQbWZl99sEgXyf4h67jVyHrW9O_yAFKUa0S0mjl60xX9Y_hjfbY1s3vQtUKHIR_cmURngmiBqp1i62FdRYm0o8_tqnfu0BRfRdkAsEkTgl4f3eJiyAmIngBm_IGw5ecg8qVtiql1CXKuoNLZRnowbMnEMBuX4YR3V3RdPJuXlAisHqlLaA8kg_DzvMh7sVn0LbjDnH0sFKgrOa6T4LoAzYO_wEMUyjqdHVuxk16hiA-EFf_dA2pAJMsDt3d2bQt1QlLwCkERb9FldVFSCaVOCECI-UOCygiNZ4Bufx1p2o3vlCSJn9NRJzLenHP-6sqZHAesm6jz-DfGrtT0gZhN3BswMQxpiJumUC7KVcZb97AOj7bYM8oloWnSB0ItpM4WDNZYwTAcp9w7PWNclEhqdhf5iIJKnEzhDKic0PQ4-BgbmGFKYmKSYRIzcLVph6h1u3wYk554nUBMdDX69wS2Yk4JC94JVt6ThXOJXoI08hIag-pHVRw7lDCRNndnZAevV0UJQ', 'expires_in': 7200, 'token_type': 'Bearer', 'scope': 'api.dynamo api.external'}
‚úÖ Autenticaci√≥n exitosa

In [4]:
tenant_id=''
# URL CORRECTA (la misma del cURL que funciona)
url = "https://prd-aue-api-externaltenants.valdperformance.com/tenants"

# Headers exactamente como en el cURL
headers = {
    "Authorization": f"Bearer {token}",
    "Accept": "application/json"
}

try:

    response = requests.get(url, headers=headers)

    print(f"üìä Status Code: {response.status_code}")

    if response.status_code == 200:
        # Intentar parsear como JSON
        try:
            data = response.json()
            # tenant_id = data['tenants'][0]['id']
            df_tenants = pd.DataFrame(data['tenants'])
            print("üìã Respuesta JSON:")
            print(json.dumps(data, indent=2))
        except json.JSONDecodeError:
            # Si no es JSON, mostrar como texto
            print("üìã Respuesta como texto:")
            print(response.text)
            
    elif response.status_code == 401:
        print("‚ùå ERROR 401: Token inv√°lido o expirado")
        print("üí° Soluci√≥n: Genera un nuevo token")
        
    elif response.status_code == 404:
        print("‚ùå ERROR 404: Endpoint no encontrado")
        print("üí° Verifica que la URL sea correcta")
        
    else:
        print(f"‚ùå ERROR {response.status_code}:")
        print(f"Respuesta: {response.text}")
    
except requests.exceptions.RequestException as e:
    print(f"‚ùå Error de conexi√≥n: {e}")

üìä Status Code: 200
üìã Respuesta JSON:
{
  "tenants": [
    {
      "id": "f1185650-fb79-44a0-8b4b-b2bf82d28c83",
      "name": "STAFF - Luciano Tomagheli"
    }
  ]
}

In [5]:
df_tenants

                                     id                       name
0  f1185650-fb79-44a0-8b4b-b2bf82d28c83  STAFF - Luciano Tomagheli

In [16]:
df_tenants.to_csv('data/df_tenants.csv', index=False)
df_tenants.to_excel('data/df_tenants.xlsx')

In [28]:
def get_categories(tenant_id,token):
    # URL base y endpoint
    url = "https://prd-aue-api-externaltenants.valdperformance.com/categories"

    # Headers con token
    headers = {
        "Authorization": f"Bearer {token}",
        "Accept": "application/json"
    }

    # Par√°metros
    params = {
        "TenantId": tenant_id
    }

    # Realizar la solicitud
    print("üîÑ Solicitando categories a la API...")
    response_categories = requests.get(url, headers=headers, params=params)
    
    # Decodificar y parsear JSON
    categories = json.loads(response_categories.content.decode('utf-8'))

    # 2. Crear DataFrame directamente
    df_categories_ = pd.DataFrame(categories['categories'])

    df_categories_['tenant_id'] = tenant_id

    return df_categories_

In [29]:
# recorrer df_tenants
df_categories = pd.DataFrame()
for index, row in df_tenants.iterrows():
    df_categories_ = get_categories(row['id'],token)
    df_categories = pd.concat([df_categories, df_categories_])

üîÑ Solicitando categories a la API...

In [30]:
df_categories.head()

,id,syncId,name,tenant_id
0,d9a94657-6111-4993-a5fe-081b21f15b75,None,Import,f1185650-fb79-44a0-8b4b-b2bf82d28c83
1,58734421-a5ed-420c-a9d5-26c5b0eda5d4,None,Categorias,f1185650-fb79-44a0-8b4b-b2bf82d28c83
2,f021a645-f179-49bd-9181-30a433c19672,None,Test,f1185650-fb79-44a0-8b4b-b2bf82d28c83
3,00031b91-0b46-445e-ab45-40fe3b4964c7,None,Vald CSM,f1185650-fb79-44a0-8b4b-b2bf82d28c83
4,a48fa3ba-e1da-4502-8ddb-4558fb7210ba,None,Agile,f1185650-fb79-44a0-8b4b-b2bf82d28c83

In [31]:
df_categories.to_csv('data/df_categories.csv', index=False)
df_categories.to_excel('data/df_categories.xlsx')

In [32]:
def get_groups(tenant_id,token):
    # URL base y endpoint
    url = "https://prd-aue-api-externaltenants.valdperformance.com/groups"

    # Headers con token
    headers = {
        "Authorization": f"Bearer {token}",
        "Accept": "application/json"
    }

    # Par√°metros
    params = {
        "TenantId": tenant_id
    }

    # Realizar la solicitud
    print("üîÑ Solicitando grupos a la API...")
    response_groups = requests.get(url, headers=headers, params=params)
    
    # Decodificar y parsear JSON
    groups = json.loads(response_groups.content.decode('utf-8'))

    # 2. Crear DataFrame directamente
    df_groups_ = pd.DataFrame(groups['groups'])

    df_groups_['tenant_id'] = tenant_id

    return df_groups_

In [33]:
# recorrer df_tenants
df_groups = pd.DataFrame()
for index, row in df_tenants.iterrows():
    df_groups_ = get_groups(row['id'],token)
    df_groups = pd.concat([df_groups, df_groups_])

üîÑ Solicitando grupos a la API...

In [24]:
df_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      29 non-null     object
 1   syncId  0 non-null      object
 2   name    29 non-null     object
dtypes: object(3)
memory usage: 828.0+ bytes

In [25]:
df_groups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          107 non-null    object
 1   name        107 non-null    object
 2   categoryId  107 non-null    object
 3   syncId      0 non-null      object
dtypes: object(4)
memory usage: 3.5+ KB

In [23]:
df_groups

,id,name,categoryId,syncId
0,c6987553-a658-461c-9fe2-d09879d2cb00,1,5ad747f7-41e7-44b4-a0c3-864efa8a8aa8,None
1,2d907f1f-caff-4e4b-9790-8bd304b0fbba,2,5ad747f7-41e7-44b4-a0c3-864efa8a8aa8,None
2,db806a4b-8ae2-40f7-a5a0-7061f3026589,3,5ad747f7-41e7-44b4-a0c3-864efa8a8aa8,None
3,84cfb5d3-cd9d-49b9-83c2-30748bc8524d,4,5ad747f7-41e7-44b4-a0c3-864efa8a8aa8,None
4,b5d30982-020a-4c63-ab6e-f60db009878e,4ta,58734421-a5ed-420c-a9d5-26c5b0eda5d4,None
...,...,...,...,...
102,04f8f2b4-39dd-4dec-8131-d04f20aea0c0,Velez 7ma,5bac6d7d-2999-48e3-90e9-b84f788ed31f,None
103,9f98fb01-0cbe-4ed6-9e3b-b78b37c91097,Velez 8va,5bac6d7d-2999-48e3-90e9-b84f788ed31f,None
104,228d7637-5e50-4491-adb0-745fbcedd0d8,Velez 9na,5bac6d7d-2999-48e3-90e9-b84f788ed31f,None
105,6d04667e-5dc9-4172-8281-5b7da1c669a7,Wing,abfd3e98-0024-491a-95e9-cd8d91a9d0e8,None
106,754e1fad-e057-4999-bac0-3b0b9a20afbc,Yes,8a53265b-a484-4fbb-9ae0-64e1a0daf47f,None

In [34]:
# Suponiendo que tus DataFrames se llaman df_categories y df_groups
# Hacer el merge usando el id de categor√≠a
df_groups_with_category = df_groups.merge(
    df_categories[['id', 'name']], 
    left_on='categoryId', 
    right_on='id', 
    how='left'
)

# Renombrar la columna 'name' que viene de categor√≠as para que sea m√°s clara
df_groups_with_category = df_groups_with_category.rename(columns={'name_y': 'category_name', 'name_x': 'group_name'})

# O si prefieres ser m√°s espec√≠fico desde el merge:
df_groups_with_category = df_groups.merge(
    df_categories[['id', 'name']].rename(columns={'name': 'category_name'}), 
    left_on='categoryId', 
    right_on='id', 
    how='left'
)

# Eliminar la columna 'id' duplicada del merge
df_groups_with_category = df_groups_with_category.drop(columns=['id_y'])
df_groups_with_category = df_groups_with_category.rename(columns={'id_x': 'id'})
df_groups_with_category

,id,name,categoryId,syncId,tenant_id,category_name
0,c6987553-a658-461c-9fe2-d09879d2cb00,1,5ad747f7-41e7-44b4-a0c3-864efa8a8aa8,None,f1185650-fb79-44a0-8b4b-b2bf82d28c83,Rugby Academy
1,2d907f1f-caff-4e4b-9790-8bd304b0fbba,2,5ad747f7-41e7-44b4-a0c3-864efa8a8aa8,None,f1185650-fb79-44a0-8b4b-b2bf82d28c83,Rugby Academy
2,db806a4b-8ae2-40f7-a5a0-7061f3026589,3,5ad747f7-41e7-44b4-a0c3-864efa8a8aa8,None,f1185650-fb79-44a0-8b4b-b2bf82d28c83,Rugby Academy
3,84cfb5d3-cd9d-49b9-83c2-30748bc8524d,4,5ad747f7-41e7-44b4-a0c3-864efa8a8aa8,None,f1185650-fb79-44a0-8b4b-b2bf82d28c83,Rugby Academy
4,b5d30982-020a-4c63-ab6e-f60db009878e,4ta,58734421-a5ed-420c-a9d5-26c5b0eda5d4,None,f1185650-fb79-44a0-8b4b-b2bf82d28c83,Categorias
...,...,...,...,...,...,...
102,04f8f2b4-39dd-4dec-8131-d04f20aea0c0,Velez 7ma,5bac6d7d-2999-48e3-90e9-b84f788ed31f,None,f1185650-fb79-44a0-8b4b-b2bf82d28c83,Equipos
103,9f98fb01-0cbe-4ed6-9e3b-b78b37c91097,Velez 8va,5bac6d7d-2999-48e3-90e9-b84f788ed31f,None,f1185650-fb79-44a0-8b4b-b2bf82d28c83,Equipos
104,228d7637-5e50-4491-adb0-745fbcedd0d8,Velez 9na,5bac6d7d-2999-48e3-90e9-b84f788ed31f,None,f1185650-fb79-44a0-8b4b-b2bf82d28c83,Equipos
105,6d04667e-5dc9-4172-8281-5b7da1c669a7,Wing,abfd3e98-0024-491a-95e9-cd8d91a9d0e8,None,f1185650-fb79-44a0-8b4b-b2bf82d28c83,Posicion
106,754e1fad-e057-4999-bac0-3b0b9a20afbc,Yes,8a53265b-a484-4fbb-9ae0-64e1a0daf47f,None,f1185650-fb79-44a0-8b4b-b2bf82d28c83,HSI

In [35]:
df_groups_with_category.to_csv('data/df_groups.csv', index=False)
df_groups_with_category.to_excel('data/df_groups.xlsx')

In [43]:
def get_profiles(token, tenant_id, groupId, groupName, categoryId, categoryName):
    # URL base y endpoint
    url = "https://prd-aue-api-externalprofile.valdperformance.com/profiles"

    # Headers con token
    headers = {
        "Authorization": f"Bearer {token}",
        "Accept": "application/json"
    }

    # Par√°metros
    params = {
        "TenantId": tenant_id,
        "groupId": groupId
    }

    try:
        # Realizar la solicitud
        print("üîÑ Solicitando perfiles a la API...")
        response_profiles = requests.get(url, headers=headers, params=params)
        
        # Verificar el status code
        if response_profiles.status_code != 200:
            print(f"‚ö†Ô∏è Error HTTP {response_profiles.status_code} para grupo {groupName}")
            return pd.DataFrame()  # Retorna DataFrame vac√≠o
        
        # Verificar si hay contenido
        if not response_profiles.content or response_profiles.content == b'':
            print(f"‚ö†Ô∏è Respuesta vac√≠a para grupo {groupName}")
            return pd.DataFrame()  # Retorna DataFrame vac√≠o
        
        # Decodificar y parsear JSON
        content_str = response_profiles.content.decode('utf-8')
        
        # Verificar que no sea una cadena vac√≠a
        if not content_str.strip():
            print(f"‚ö†Ô∏è Contenido vac√≠o para grupo {groupName}")
            return pd.DataFrame()
            
        profiles = json.loads(content_str)
        
        # Verificar que tenga la estructura esperada
        if 'profiles' not in profiles:
            print(f"‚ö†Ô∏è Estructura JSON inesperada para grupo {groupName}")
            return pd.DataFrame()
        
        # Verificar que profiles no est√© vac√≠o
        if not profiles['profiles']:
            print(f"‚ÑπÔ∏è No hay perfiles para el grupo {groupName}")
            return pd.DataFrame()
        
        # Crear DataFrame
        df_profiles_ = pd.DataFrame(profiles['profiles'])
        
        # Agregar informaci√≥n del grupo
        df_profiles_['tenant_id'] = tenant_id
        df_profiles_['groupId'] = groupId
        df_profiles_['groupName'] = groupName
        df_profiles_['categoryId'] = categoryId
        df_profiles_['categoryName'] = categoryName
        
        print(f"‚úÖ {len(df_profiles_)} perfiles obtenidos para {groupName}")
        return df_profiles_
        
    except json.JSONDecodeError as e:
        print(f"‚ùå Error JSON para grupo {groupName}: {e}")
        return pd.DataFrame()
    except Exception as e:
        print(f"‚ùå Error inesperado para grupo {groupName}: {e}")
        return pd.DataFrame()

In [ ]:
# Recorrer df_groups_with_category
df_profiles = pd.DataFrame()
successful_requests = 0
failed_requests = 0

for index, row in df_groups_with_category.iterrows():
    print(f"\nProcesando grupo {index+1}/{len(df_groups_with_category)}: {row['id']}, {row['name']}...")
    
    df_profiles_ = get_profiles(token, row['tenant_id'], row['id'], 
                              row['name'], row['categoryId'], row['category_name'])
    
    if not df_profiles_.empty:
        df_profiles = pd.concat([df_profiles, df_profiles_], ignore_index=True)
        successful_requests += 1
    else:
        failed_requests += 1

print(f"\nüìä Resumen:")
print(f"‚úÖ Solicitudes exitosas: {successful_requests}")
print(f"‚ùå Solicitudes fallidas: {failed_requests}")
print(f"üìà Total de perfiles obtenidos: {len(df_profiles)}")

In [45]:
df_profiles.to_csv('data/df_profiles.csv', index=False)
df_profiles.to_excel('data/df_profiles.xlsx')

In [48]:
def get_nordbord(token, tenant_id, fecha_desde):
    """Obtiene los datos de pruebas desde la API de VALD"""
    
    # URL base seg√∫n regi√≥n
    base_url = "https://prd-aue-api-externalnordbord.valdperformance.com"
    
    # Endpoint y par√°metros
    endpoint = "/tests/v2"
    params = {
        "tenantId": tenant_id,
        "modifiedFromUtc": fecha_desde
    }
    
    # Headers con token
    headers = {
        "Authorization": f"Bearer {token}"
    }
    
    # Realizar la solicitud
    print("üîÑ Solicitando datos a la API...")
    response = requests.get(f"{base_url}{endpoint}", params=params, headers=headers)
    
    # Verificar respuesta
    if response.status_code == 200:
        print(f"‚úÖ Datos obtenidos correctamente")
        datos = response.json()
    
        # Verificar tipo de datos y normalizarlos
        if isinstance(datos, dict) and 'items' in datos:
            df = pd.DataFrame(datos['items'])
        elif isinstance(datos, list):
            df = pd.DataFrame(datos)
        else:
            df = pd.DataFrame([datos])
        
        # Si existe la columna 'tests' y contiene datos, normalizarla
        if 'tests' in df.columns and len(df) > 0 and isinstance(df['tests'].iloc[0], (list, dict)):
            try:
                # Normalizar la columna tests
                expanded_df = pd.json_normalize(df['tests'].iloc[0])
                
                # Convertir columnas de fecha a datetime
                date_columns = [col for col in expanded_df.columns 
                                if 'date' in col.lower() or 'time' in col.lower()]
                for col in date_columns:
                    expanded_df[col] = pd.to_datetime(expanded_df[col], errors='ignore')
                
                # Reemplazar el DataFrame original con el normalizado
                df = expanded_df
                print("‚úÖ Normalizaci√≥n aplicada a la columna 'tests'")
            except Exception as e:
                print(f"‚ö†Ô∏è No se pudo normalizar la columna 'tests': {e}")
        return df
    elif response.status_code == 204:
        print("‚ö†Ô∏è No hay m√°s registros para obtener.")
        return []
    else:
        print(f"‚ùå Error al obtener datos: {response.status_code}")
        print(response.text)
        return None

In [ ]:
df_tenants

                                     id                       name
0  f1185650-fb79-44a0-8b4b-b2bf82d28c83  STAFF - Luciano Tomagheli

In [ ]:
# Recorrer df_groups_with_category
#get_nordbord(token, tenant_id, fecha_desde):
df_tests_nordbord = pd.DataFrame()
successful_requests = 0
failed_requests = 0
desde = "2023-01-01T00:00:00.000Z"

for index, row in df_tenants.iterrows():
    
    df_tests_nordbord_ = get_nordbord(token, row['id'], desde)
    
    if not df_tests_nordbord_.empty:
        df_tests_nordbord = pd.concat([df_tests_nordbord, df_tests_nordbord_], ignore_index=True)
        successful_requests += 1
    else:
        failed_requests += 1

üîÑ Solicitando datos a la API...
‚úÖ Datos obtenidos correctamente
‚úÖ Normalizaci√≥n aplicada a la columna 'tests'

/var/folders/k1/j4nrrlzs2t93tp860tb51m9m0000gn/T/ipykernel_13746/3262726255.py:46: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  expanded_df[col] = pd.to_datetime(expanded_df[col], errors='ignore')
/var/folders/k1/j4nrrlzs2t93tp860tb51m9m0000gn/T/ipykernel_13746/3262726255.py:46: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  expanded_df[col] = pd.to_datetime(expanded_df[col], errors='ignore')

In [58]:
df_tests_nordbord.to_csv("data/df_tests_nordbord.csv", index=False)
# Convertir las columnas de fecha a timezone-naive
df_tests_nordbord['modifiedDateUtc'] = df_tests_nordbord['modifiedDateUtc'].dt.tz_localize(None)
df_tests_nordbord['testDateUtc'] = df_tests_nordbord['testDateUtc'].dt.tz_localize(None)

# Ahora exportar
df_tests_nordbord.to_excel("data/df_tests_nordbord.xlsx")

In [72]:

def get_ForceFrame(token, tenant_id, fecha_desde):
    """Obtiene los datos de pruebas desde la API de VALD"""
    
    # URL base seg√∫n regi√≥n
    base_url = "https://prd-aue-api-externalforceframe.valdperformance.com/"
    
    # Endpoint y par√°metros
    endpoint = "/tests/v2"
    params = {
        "tenantId": tenant_id,
        "modifiedFromUtc": fecha_desde
    }
    
    # Headers con token
    headers = {
        "Authorization": f"Bearer {token}"
    }
    
    # Realizar la solicitud
    print("üîÑ Solicitando datos a la API...")
    response = requests.get(f"{base_url}{endpoint}", params=params, headers=headers)
    
    # Verificar respuesta
    if response.status_code == 200:
        print(f"‚úÖ Datos obtenidos correctamente")
        datos = response.json()
    
        # Verificar tipo de datos y normalizarlos
        if isinstance(datos, dict) and 'items' in datos:
            df = pd.DataFrame(datos['items'])
        elif isinstance(datos, list):
            df = pd.DataFrame(datos)
        else:
            df = pd.DataFrame([datos])
        
        # Si existe la columna 'tests' y contiene datos, normalizarla
        if 'tests' in df.columns and len(df) > 0 and isinstance(df['tests'].iloc[0], (list, dict)):
            try:
                # Normalizar la columna tests
                expanded_df = pd.json_normalize(df['tests'].iloc[0])
                
                # Convertir columnas de fecha a datetime
                date_columns = [col for col in expanded_df.columns 
                                if 'date' in col.lower() or 'time' in col.lower()]
                for col in date_columns:
                    expanded_df[col] = pd.to_datetime(expanded_df[col], errors='ignore')
                
                # Reemplazar el DataFrame original con el normalizado
                df = expanded_df
                print("‚úÖ Normalizaci√≥n aplicada a la columna 'tests'")
            except Exception as e:
                print(f"‚ö†Ô∏è No se pudo normalizar la columna 'tests': {e}")
        return df
    elif response.status_code == 204:
        print("‚ö†Ô∏è No hay m√°s registros para obtener.")
        return []
    else:
        print(f"‚ùå Error al obtener datos: {response.status_code}")
        print(response.text)
        return None

In [73]:
df_tests_ForceFrame = pd.DataFrame()
successful_requests = 0
failed_requests = 0
desde = "2023-01-01T00:00:00.000Z"

for index, row in df_tenants.iterrows():
    
    df_tests_ForceFrame_ = get_ForceFrame(token, row['id'], desde)

    if not df_tests_ForceFrame_.empty:
        df_tests_ForceFrame = pd.concat([df_tests_ForceFrame, df_tests_ForceFrame_], ignore_index=True)
        successful_requests += 1
    else:
        failed_requests += 1

üîÑ Solicitando datos a la API...
‚úÖ Datos obtenidos correctamente
‚úÖ Normalizaci√≥n aplicada a la columna 'tests'

/var/folders/k1/j4nrrlzs2t93tp860tb51m9m0000gn/T/ipykernel_13746/2489023779.py:46: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  expanded_df[col] = pd.to_datetime(expanded_df[col], errors='ignore')
/var/folders/k1/j4nrrlzs2t93tp860tb51m9m0000gn/T/ipykernel_13746/2489023779.py:46: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  expanded_df[col] = pd.to_datetime(expanded_df[col], errors='ignore')

In [74]:
df_tests_ForceFrame.to_csv("data/df_tests_ForceFrame.csv", index=False)
# Convertir las columnas de fecha a timezone-naive
df_tests_ForceFrame['modifiedDateUtc'] = df_tests_ForceFrame['modifiedDateUtc'].dt.tz_localize(None)
df_tests_ForceFrame['testDateUtc'] = df_tests_ForceFrame['testDateUtc'].dt.tz_localize(None)

# Ahora exportar
df_tests_ForceFrame.to_excel("data/df_tests_ForceFrame.xlsx")